body {
  align-items: center;
  background-color: #ecf6ff;
  font-family: 'Roboto', sans-serif;
}

input {
  padding: 10px 30px;
  margin: 20px;
  width: 13%;
}

#searchForm {
  position: relative;
  padding: 0;
  margin: 0;
}

#container {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-top: 50px;
}

/* recommendation */
.recommendation{
  display: flex;
  background-color: white;
  padding: 20px;
  padding-bottom: 20px;
}
.recommendation__image{
  width: 200px;
  height: 250px;
  padding-right: 20px;
  padding: 10px;
}
.recommendation-info__author{
  color: red;
}
.book-information__author{
  font-weight: bold;
  text-overflow: ellipsis;
}
.recommendation-info__title{
   font-weight: bold;
   font-size: 25px;
}
.recommendation__label{
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 30px;
  }
  .recommendation-info{
    margin: 15px;
  }

.book {
  background-color: white;
  width: 30%;
  height: 400px;
  flex-direction: row;
  margin-bottom: 30px;
  align-items: center;
  padding-bottom: 30px;
  cursor: pointer;
}

.book__image {
  width: 200px;
  height: 60%;
  margin: 25px;
}
.book-information__author {
  width: 200px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 120px;
}
.book-information__title {
  width: 100 px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#searchIcon {
  position: absolute;
  top: 2em;
  left: 25px;
  cursor: pointer;
}
 .starChecked{
  color: orange;
 }

